:root {
  /* Colors */
  --color-eosc-pacific-cyan-h: 83;
  --color-eosc-pacific-cyan-s: 56%;
  --color-eosc-pacific-cyan-l: 50%;

  --sidebar-primary-color-h: var(--color-eosc-pacific-cyan-h);
  --sidebar-primary-color-s: var(--color-eosc-pacific-cyan-s);
  --sidebar-primary-color-l: var(--color-eosc-pacific-cyan-l);

  --sidebar-secondary-color-h: 343;
  --sidebar-secondary-color-s: 78%;
  --sidebar-secondary-color-l: 78%;

  --sidebar-upload-color-h: 58;
  --sidebar-upload-color-s: 70%;
  --sidebar-upload-color-l: 90%;

  /* Logo */
  --onedata-logo-height: 40px;
  --onedata-logo-margin-bottom: 24px;
}

.one-animated-logo {
  --logo-size: var(--onedata-logo-height);
}

.onedata-logo,
.one-animated-logo .logo-container {
  background-image: url('./assets/easter3.png');
}

.one-animated-logo .left {
  width: var(--logo-size);
}

.one-animated-logo .left .shadow {
  left: var(--logo-size);
}

.one-animated-logo.opened .left {
  width: 150px;
}

.one-animated-logo.opened .right {
  width: 0;
}

.onedata-logo .right {
  width: 0;
}

.app-layout .side-menu-header .row-onedata-logo .onedata-logo {
  display: block;
  height: 50px;
  width: 300px;
}

.app-layout .col-main-menu.collapsed .onedata-logo {
  margin-left: 10px;
}

.app-layout .col-main-menu .onedata-logo {
  top: -2px;
  margin-left: 24px;
}

.main-menu-column .onedata-logo {
  display: block;
}

.main-menu-column .powered-by-container {
  visibility: visible;
  color: hsl(83, 56%, 50%);
}

.one-list-item.active::before {
border-left: 8px solid;
border-image: repeating-linear-gradient(
    80deg,
    hsl(83, 56%, 50%) 0px,
    hsl(83, 56%, 50%) 2px,
    hsl(343, 78%, 78%) 2px,
    hsl(343, 78%, 78%) 8px
  ) 1;
}

.col-main-menu .one-list-item.main-menu-item:nth-child(2n) > .item-header {
  color: #f77faf;
}

.col-main-menu .one-list-item.main-menu-item:nth-child(2n+1) > .item-header {
  color: #f7f391;
}
